- var root = './images'
- var rootVimeo = 'https://player.vimeo.com/video/'
- var rootYoutube = 'https://www.youtube.com/embed/'

mixin post-item(title, subtitle, secondSubtitle, href)
  a.item( href=href+'.html' title=title )
    .img
      image.img-inner(src=root+'/'+href+'/principal.jpg')

    .title= title

    .subtitle= subtitle
    .subtitle= secondSubtitle

mixin product(title, imageUrl)
  .product
    .img
      image.img-inner(src=root+'/'+imageUrl+'.jpg')

    .title= title
    .button COMPRAR


mixin main-image(imageUrl)
  .main-image
    image.image-inner(src=root+'/'+imageUrl+'.jpg')


mixin image(imageUrl, caption)
  figure.image
    image.image-inner( width='auto' height='auto' src=root+'/'+imageUrl+'.jpg')
    figcaption.photo-caption= caption

mixin youtube(id)
  .video
    iframe( src=rootYoutube+id width='560' height='300' frameborder="0" allowfullscreen)

mixin vimeo(id)
  .video
    iframe( src=rootVimeo+id frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)


mixin page-meta(title)
  - var siteName = ' — Ligia Unanue Arte'
  title= title+siteName
  meta( property="og:title" content=title+siteName )
