- var root = './images'
- var rootVimeo = 'https://player.vimeo.com/video/'
- var rootYoutube = 'https://www.youtube.com/embed/'

mixin post-item(title, subtitle, href, imageUrl)
	a.item( href=href+'.html' title=title )
		.img
			image.img-inner(src=root+'/'+imageUrl+'.jpg')

		.title= title
		.subtitle= subtitle

mixin product(title, imageUrl)
	.product
		.img
			image.img-inner(src=root+'/'+imageUrl+'.jpg')

		.title= title
		.button COMPRAR


mixin main-image(imageUrl)
	.main-image
		image.image-inner(src=root+'/'+imageUrl+'.jpg')


mixin image(imageUrl)
	.image
		image.image-inner( width='auto' height='auto' src=root+'/'+imageUrl+'.jpg')

mixin youtube(id)
	.video
		iframe( src=rootYoutube+id width='560' height='300' frameborder="0" allowfullscreen)

mixin vimeo(id)
	.video
		iframe( src=rootVimeo+id frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
